body{
	background-color: #AFC1F3;
	text-align: center;
	
	}
h1{
	align: center;
	color: #4D3C3C;
	font-family:"Courier New", Courier, monospace;
}
.divs{
	background-color:#DCEEF8;
	text-align: center;
}
#navigation{
	
}
.menu{
	float: left;
	background-color:#DCEEF8;
	text-align: center;
	overflow: hidden;
	font-family:"Courier New", Courier, monospace;
	text-color: #fff;
}
.menu a {
	padding: 15px 15px;
	text-align: center;
}
#list li{
	list-style-type:none;
}


