body{
	background-color:rgb(251, 255, 255) ;
	margin:0;
	padding:0;
	}
h1{
	align: center;
	color: rgb(248, 15, 15);
	font-family:Arial;
	font-size: 2.5em;
}
h2{
	color:rgb(143, 161, 161);
}
.divs{
	font-family: Arial;
	font-size: 1em;
	text-align: center;
	height: 80vh;
	width: 70%;
	margin:0 auto;
	background-color:#EFFFFF;	
}

/* below is all related to navigation bar*/
.nav{
	width:70%;
	margin: 0 auto;
	text-align:center;
}
.nav ul {
	display: inline-block;
      list-style: none;
      background-color: #EFFFFF;
      text-align: center;
      padding: 0;
      margin: 0;
	  overflow: auto;
    }

.nav li {
	padding: 8px 10px;
      font-family: Arial;
      font-size: 2em;
	  display: inline-block;
	  float: left;
    }
.nav a {
      text-decoration: none;
      color: rgb(152, 165, 165);
	  transition: .3s background-color;
    }
.nav a:hover {
      background-color: rgb(79, 85, 85);
	  color: white;
    }
	
  .nav  a.active {
      background-color: #fff;
      color: #444;
    }
	
	/* end of nav */
	/*contact section*/
#contact{
	display:block;
}
#phone{
margin:auto;
max-width: 38%;
max-height: 43vh;
padding: 0.5em;
}
#email{
margin:auto;
max-width: 38%;
max-height: 43vh;
padding: 0.5em;
}	
#linked{
margin:auto;
max-width: 38%;
max-height: 43vh;
padding: 0.5em;
}
#linked a{
	text-decoration:none;
	color: black;
}
.figures{
	display: inline-table;
}
.figures figcaption{
	display: table-caption;
  caption-side: bottom;

}
/* end of contact section */
/* formatting text section */
#text{
	margin: auto;
	width: 80%;
	
}