body{
	background-color:#FFFAFA ;
	text-align: center;
	
	}
h1{
	align: center;
	color: #4D3C3C;
	font-family:Garamond;
}
.divs{
	width:60%;
	background-color:#F0EAD6;	
}
#menuName{
	display: flex;
    justify-content: space-between;
}

.menu{
	width: 40%;
	background-color:#F0EAD6;
	overflow: hidden;
	display: inline-block;
}

.menu a {
	padding: 15px 15px;
	text-align: center;
	font-family:Garamond;
	color: #34363F;
	text-decoration:none;
}
.menu a:hover{
	background-color:#6170A4;
	color:#EEF8F9;
}
.link{
   text-decoration: none; 
   background-color: none;
}


