body{
	background-color:#F8F8F7 ;
	margin:0;
	padding:0;
	}
h1{
	align: center;
	color: #4D3C3C;
	font-family:Arial;
	font-size: 1.7em;
}
.divs{
	font-family: Arial;
	font-size: 1em;
	text-align: center;
	height: 50vh;
	width: 120vh;
	margin:0 auto;
	background-color:#F8F8F7;	
}
.divs h1{
	
}

/* below is all related to navigation bar*/
.nav{
	width:auto;
	margin: 0 auto;
	text-align:center;
}
.nav ul {
	display: inline-block;
      list-style: none;
      background-color: #F8F8F7;
      text-align: center;
      padding: 0;
      margin: 0;
	  overflow: auto;
    }

.nav li {
	padding: 8px 10px;
      font-family: Arial;
      font-size: 2em;
	  display: inline-block;
	  float: left;
    }
.nav a {
      text-decoration: none;
      color: #4D3C3C;
	  transition: .3s background-color;
    }
.nav a:hover {
      background-color: #1E7B8E;
	  color: white;
    }
	
  .nav  a.active {
      background-color: #fff;
      color: #444;
    }
	
	/* end of nav */
#contact{
	display:block;
}
#phone{

margin:auto;
max-width: 30%;
max-height: 35vh;
padding: 0.5em;
}
#email{

margin:auto;
max-width: 30%;
max-height: 35vh;
padding: 0.5em;
}	
.figures{
	display: table;
}
.figures figcaption{
	display: table-caption;
  caption-side: bottom;

}