body{
	background-color: #AFC1F3;
	text-align: center;
	
	}
h1{
	align: center;
	color: #4D3C3C;
	font-family:"Courier New", Courier, monospace;
}
.divs{
	background-color:#DCEEF8;
	text-align: center;
}
#navigation{
	
}
.menu{

	background-color:#DCEEF8;
	overflow: hidden;
}
#menuName{
	justify-content: space-evenly;
	margin-left: auto; 
    margin-right: auto;
    text-align: justify;
    text-justify: distribute-all-lines;
}
.menu a {
	padding: 15px 15px;
	text-align: center;
	font-family:"Courier New", Courier, monospace;
	color: #34363F;
//	float: left;
//	text-decoration:none;
	display: table-cell;
}
.menu a:hover{
	background-color:#85E3F6;
	text-color:#24E1E4;
}
.link
{
   text-decoration: none; 
   background-color: none;
}


