body{
	background-color:rgb(255, 255, 255) ;
	margin:0;
	padding:0;
	}
.divs h5{
	align: center;
	color: rgb(248, 15, 15);
	font-family: Futura,Trebuchet MS,Arial,sans-serif;;
	font-size: 2.5em;
}
h4{
	color:rgb(104, 112, 112);
}
.divs{
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
	font-size: 1em;
	text-align: center;
	height: 80vh;
	width: 70%;
	margin:0 auto;

}

/* below is all related to navigation bar*/
.nav{
	width:70%;
	margin: 0 auto;
	text-align:center;
}
.nav ul {
	display: inline-block;
      list-style: none;
      background-color: rgb(249, 253, 253);
      text-align: center;
      padding: 0;
      margin: 0;
	  overflow: auto;
    }

.nav li {
	padding: 8px 10px;
	font-family: Futura,Trebuchet MS,Arial,sans-serif;
      font-size: 2em;
	  display: inline-block;
	  float: left;
    }
.nav a {
      text-decoration: none;
      color: rgb(104, 112, 112);
	  transition: .3s background-color;
    }
.nav a:hover {
      background-color: rgb(79, 85, 85);
	  color: white;
    }
	
  .nav  a.active {
      background-color: rgb(255, 255, 255);
      color: #444;
    }
	
	/* end of nav */
	/*contact section*/
#contact{
	display:block;
}
#phone{
margin:auto;
max-width: 38%;
max-height: 43vh;
padding: 0.5em;
}
#email{
margin:auto;
max-width: 38%;
max-height: 43vh;
padding: 0.5em;
}	
#linked{
margin:auto;
max-width: 38%;
max-height: 43vh;
padding: 0.5em;
}
#linked a{
	text-decoration:none;
	color: black;
}
.figures{
	display: inline-table;
}
.figures figcaption{
	display: table-caption;
  caption-side: bottom;

}
/* end of contact section */
/* formatting text section */
#text{
	margin: auto;
	width: 80%;
	
}