body{
	background-color: #AFC1F3;
	text-align: center;
	
	}
h1{
	align: center;
	color: #4D3C3C;
	font-family:"Courier New", Courier, monospace;
}
.divs{
	background-color:#DCEEF8;
	text-align: center;
	width:60%;
}
#menuName{
	display: flex;
    justify-content: space-between;
}

.menu{
	width: 40%;
	background-color:#DCEEF8;
	overflow: hidden;
}

.menu a {
	padding: 15px 15px;
	text-align: center;
	font-family:"Courier New", Courier, monospace;
	color: #34363F;
	display: table-cell;
	text-decoration:none;
}
.menu a:hover{
	background-color:#0F707B;
	color:#EEF8F9;
}
.link{
   text-decoration: none; 
   background-color: none;
}


